@model TodoCreateEditViewModel
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            @Html.Partial("_TodoCreateEditPartial", Model)
        </form>
    </div>
</div>