@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Super awesome application</p>
<p>Manage your daily tasks</p>
<p>Manage your budget for better savings</p>
<p>Plan your events</p>
<p>All in one</p>