@model Expense

<div class="form-group">
    <label asp-for="Name"></label>
    <input type="text" class="form-control"
           asp-for="Name"
           value="@(Model != null ? Model.Name : "")" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Amount"></label>
    <input type="text" class="form-control"
           asp-for="Amount"
           value="@(Model != null ? Model.Amount : 0)" />
    <span asp-validation-for="Amount" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="datepicker">Date</label>
    <div id="datePicker"></div>
    <input type="text" class="form-control"
           asp-for="DateTime"
           value="@(Model != null ? Model.DateTime.Date.ToString("d") : "")" />
    <span asp-validation-for="DateTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Note"></label>
    <textarea class="form-control" rows="5"
              asp-for="Note"
              placeholder="Enter your note">@(Model != null ? Model.Note : "")</textarea>
    <span asp-validation-for="Note" class="text-danger"></span>
</div>
<button type="submit" class="btn btn-success">Save</button>
<a asp-controller="Budget" asp-action="List" class="btn btn-simple btn-info">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    Back
</a>

<script>
    $('#datePicker').datepicker({
        todayBtn: "linked",
        clearBtn: true,
        autoclose: true,
        todayHighlight: true,
        startDate: new Date(),
        datesDisabled: []
    }).on('changeDate', showDate);

    function showDate() {
        var value = $('#datePicker').datepicker('getFormattedDate');
        $('#DateTime').val(value);
    }
</script>