@model Budget

<div class="form-group">
    <label asp-for="Name"></label>
    <input type="text" class="form-control"
           asp-for="Name"
           value="@(Model != null ? Model.Name : "")" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Amount"></label>
    <input type="text" class="form-control"
           asp-for="Amount"
           value="@(Model != null ? Model.Amount : 0)" />
    <span asp-validation-for="Amount" class="text-danger"></span>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="datepicker">Pick start date</label>
            <div id="datePicker"></div>
            <input type="text" class="form-control"
                   asp-for="StartDate"
                   value="@(Model != null ? Model.StartDate.Date.ToString("d") : "")" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="datepicker2">Pick end date</label>
            <div id="datePicker2"></div>
            <input type="text" class="form-control"
                   asp-for="EndDate"
                   value="@(Model != null ? Model.EndDate.Date.ToString("d") : "")" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-success">Save</button>
<a asp-action="List" class="btn btn-simple btn-info">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    Back
</a>