@model IEnumerable<TodoCategory>
<div class="col-md-3">
    <div class="list-group">
        @foreach (var cat in Model)
        {
            <a class="btn btn-simple btn-info list-group-item"
               style="text-align: left; padding: 0.8em;"
               asp-controller="Todo"
               asp-action="List"
               asp-route-id="@cat.Id">@cat.Name</a>
        }
        <a class="btn btn-simple btn-info list-group-item"
           style="margin: 5px; text-align: left; padding: 0.8em;"
           asp-controller="Category"
           asp-action="Create">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Category
        </a>
    </div>
</div>